:root {
  --primary-color: #8a96aa;
}
:root {
  --secondary-color: #8a96aa;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
}

header,
nav,
main,
footer {
  border: 1px solid rgb(253, 253, 253);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow-x: scroll;
}
nav {
  grid-area: nav;
}
footer {
  grid-area: footer;
}

section {
  margin: 0;
  min-height: 90vh;
  background-color: var(--primary-color);
  padding: 20px;
}

section:nth-child(even) {
  background-color: hsl(from var(--primary-color) h s calc(l + 10));
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: normal;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}
.flex-wrapper > div {
  flex-grow: 2;
  flex-shrink: 4;
  flex-basis: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.second-flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: normal;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}
.second-flex-wrapper > div {
  flex-grow: 2;
  flex-shrink: 4;
  flex-basis: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

svg:hover * {
  fill: red;
  stroke: red;
}

header {
  font-family: Helvetica, sans-serif;
}
main {
  font-family: Helvetica, sans-serif;
}
footer {
  font-family: Helvetica, sans-serif;
}
/* Schriftgrösse */

.ohne-punkte {
  list-style: none;
  padding: 0;
  margin: 0;
}

.color-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.color-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.svg-lightBlue circle {
  fill: rgb(141, 226, 247);
  stroke: rgb(0, 0, 0);
  stroke-width: 8px;
}
.svg-blue circle {
  fill: blue;
  stroke: rgb(0, 0, 0);
  stroke-width: 8px;
}
.svg-white circle {
  fill: rgb(255, 255, 255);
  stroke: rgb(0, 0, 0);
  stroke-width: 8px;
}
.svg-normal circle {
  fill: rgb(138, 150, 200);
  stroke: rgb(0, 0, 0);
  stroke-width: 8px;
}
